@inherits LayoutComponentBase

<div class="page" style="@NoScrollStyle">

    <NavMenu ToggleLogin="@ToggleLogin" ToggleRegister="@ToggleRegister" />

    <section class="@OverlayShownClass">
        <div class="overlay @LoginShownClass">
            <header>
                <img class="logo" src="img/logo.svg" />
                <img class="closeicon" src="img/close-circle-outline.svg" @onclick="@ToggleLogin"/>
            </header>
            <div class="form-container">
                <form onsubmit="return false;">
                    <h2>Welcome back</h2>

                    <label>
                        Username
                        <br />
                        <input type="text" placeholder="username" @bind-value="@loginModel.UserName" />
                    </label>

                    <label>
                        Password
                        <br />
                        <input type="password" placeholder="parola" @bind-value="@loginModel.Password" />
                    </label>

                    <button type="submit" @onclick="@Login" >Logare</button>
                </form>
            </div>
        </div>

        <div class="overlay @RegisterShownClass">
            <header>
                <img class="logo" src="img/logo.svg" />
                <img class="closeicon" src="img/close-circle-outline.svg" @onclick="@ToggleRegister" />
            </header>
            <div class="form-container">
                <form onsubmit="return false;">
                    <h2>Welcome</h2>

                    <label>
                        Username
                        <br />
                        <input type="text" placeholder="username" @bind-value="@registerModel.UserName" />
                    </label>

                    <label>
                        Email
                        <br />
                        <input type="email" placeholder="email" @bind-value="@registerModel.Email" />
                    </label>

                    <label>
                        Password
                        <br />
                        <input type="password" placeholder="parola" @bind-value="@registerModel.Password" />
                    </label>

                    <button type="submit" @onclick="@Register">Creare cont</button>
                </form>
            </div>
        </div>
    </section>

    <main style="position: relative;">
            @Body
    </main>

    <footer>
        <div class="socials">
            <img src="img/socials-insta.svg" />
            <img src="img/socials-twitch.svg" />
            <img src="img/socials-fb.svg" />
        </div>
        <p>Copyright &copy; 2022 | La muncă, nu la întins mâna.</p>
    </footer>
</div>

@code {
    private bool loginShown = false;
    private bool registerShown = false;

    private string LoginShownClass
    {
        get
        {
            return loginShown == false ? "d-none" : string.Empty;
        }
    }
    private string RegisterShownClass
    {
        get
        {
            return registerShown == false ? "d-none" : string.Empty;
        }
    }

    private string OverlayShownClass
    {
        get
        {
            return (!loginShown && !registerShown) == true ? "d-none" : string.Empty;
        }
    }

    private string NoScrollStyle
    {
        get
        {
            return loginShown || registerShown == true ? "overflow: hidden !important;" : string.Empty;
        }
    }

    private void ToggleLogin()
    {
        loginShown = !loginShown;
    }

    private void ToggleRegister()
    {
        registerShown = !registerShown;
    }
}